* {
    font-family: "Open Sans Condensed", sans-serif;
    font-weight: 300;
    box-sizing: border-box;
}

body {
    padding: 40px;
    font-size: 16px;
}

header {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;

    font-size: 3rem;
    padding: 18px;
}

header p {
    margin: 0;
}

.clock {
    font-size: 14.5rem;
}

tbody tr:first-of-type td, tbody tr:last-of-type td {
    color: black;
}

tr:first-of-type td.academic, tr:last-of-type td.academic {
    background-color: #FFCC00;
}

tr:first-of-type td.lecture, tr:last-of-type td.lecture {
    background-color: #97BF0D;
}

tr:first-of-type td.live, tr:last-of-type td.live {
    background-color: #008BD0;
}

td.academic {
    background-color: rgba(255, 204, 0, 0.45);
}

td.lecture {
    background-color: rgba(151, 191, 13, 0.45);
}

td.live {
    background-color: rgba(0, 139, 208, 0.45);
}

td {
    border-right: 20px solid white;
}

td:first-of-type {
    padding: 27px;
    font-size: 3rem;
}

.logo {
    height: 250px;
}

h2 {
    font-weight: 700;
}

.roomNr {
    color: white;
    font-weight: 700;
    font-size: 8rem;
    text-align: center;

    height: 300px;
    margin: 9px;

    background-size: 16rem;
    background-repeat: no-repeat;
    background-position: center;
}

.roomNr--academic {
    background-image: url("room--academic.svg");
}

.roomNr--lecture {
    background-image: url("room--lecture.svg");
}

table {
    width: 100%;
    border-collapse: collapse;
}

tr {
    border-bottom: 1px solid black;
}

td {
    padding: 20px 40px;
    width: 25%;
}

td:first-of-type {
    width: 60px;
}